{% extends 'base.html' %}
{% load static %}

{% block content %}

<div id="container-product-id">
    <div class="container">
        <br>  <h1 class="text-center">Что мы можем предложить? <i class="icon-pin"></i></h1>
        <hr>
        <div class="card">
            <div class="row">
                <aside class="col-sm-5 border-right">
                    <article class="gallery-wrap">
                        <div class="img-big-wrap">
                            <div>
                                <div class="item-gallery">
                                    <h1 class="text-center">В ассортименте реализуемых смазочных материалов представлены такие бренды, как Газпромнефть, Лукойл, Роснефть, Фосфохим, Mobil, Shell, ZIC, TOTAL, Башнефть, РИКОС, Спецавтомат. Масла продаются в налив, в заводских бочках, канистрах.</h1>
                                </div>
                            </div>
                        </div>
                    </article>
                </aside>

                <aside class="col-sm-7">
                    <article class="card-body p-5">
                        <h1 class="title mb-3 text-center">ООО "МАСЛОСБЫТ" Курск предлагает Вам в постоянном ассортименте и под заказ:</h1>
                        <hr>
                        <dl class="item-property">
                            <dt class="">МАСЛА:</dt>
                            <dd><p>моторные, индустриальные, трансмиссионные, гидравлические,трансформаторные, холодильные, компрессорные и т.д.</p></dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>ТЕХНИЧЕСКИЕ ЖИДКОСТИ:</dt>
                            <dd><p>нефрасы, керосины, СОЖ на водяной и масляной основах, тормозная жидкость, тосол, антифриз</p></dd>
                        </dl>
                        <dl class="param param-feature">
                            <dt>ВСЕ ВИДЫ СМАЗОК.</dt>
                        </dl>
                        <dl class="param param-feature">
                            <dt>ДИЗЕЛЬНОЕ ТОПЛИВО.</dt>
                        </dl>
                        <hr>
                        <dl class="param param-feature">
                            <dt>ДОСТАВКА:</dt>
                            <dd><p>ООО "МАСЛОСБЫТ" Курск располагает собственным парком автомобилей, что позволяет в кратчайшие сроки доставить товар по всей территории Курской области. Услуги бензовозов по доставке ГСМ от 5 до 23 м³</p></dd>
                        </dl>
                    </article>
                </aside>
            </div>
        </div>
    </div>
        <br><br><br>
        <article class="bg-secondary mb-3">
            <div class="card-body text-center">
                <h4 class="text-white">Реализация товара ведется с двух оборудованных складов выгодно расположенных в городе Курске.</h4>
                <p class="h5 text-white">В случае необходимости доставки товара мы её организуем. ООО "МАСЛОСБЫТ" Курск располагает собственным парком автомобилей для доставки. Это позволяет в кратчайшие сроки доставить товар покупателю.</p>
                <br>
                <p class="h5 text-white">Персональный менеджер поможет выбрать из множества наименований продукцию необходимую именно Вам.
По вопросам закупок масел и смазочных материалов обращайтесь в отдел продаж по телефонам:</p>
                <p class="h5 text-white">8(4712) 32-47-31</p>
                <p class="h5 text-white">8(4712) 32-62-54</p>
                <hr>
                <br>
                <p><a class="btn btn-warning" target="_blank" href="{% url 'tablica' %}">Подробнее
                <i class="fa fa-window-restore "></i></a></p>
            </div>
        </article>
</div>

<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img tiltout" style="background-image: url('../../static/images/oil_1.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Обширный ассортимент для клиентов:</h2>
                <hr>
                <p class="lead mb-0">Мы постоянно пополняем выбор моторных индустриальных,трансмиссионных, гидравлических и других масел, смазочных материалов и прочих технических жидкостей. Если Вас интересует конкретная категория, просто обратитесь к нашим менеджерам.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 text-white showcase-img tiltout" style="background-image: url('../../static/images/oil_2.png')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Серьёзная технико-консультационная и информативная поддержка:</h2>
                <hr>
                <p class="lead mb-0">Каждый наш клиент получает детальную информацию о разновидностях масел, особенностях их применения в тех или иных типах технических средств и прочих сферах.</p>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-lg-6 order-lg-2 text-white showcase-img tiltout" style="background-image: url('../../static/images/oil_3.jpg');"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Профессиональная помощь в подборе:</h2>
                <hr>
                <p class="lead mb-0">На основании предоставленной Вами информации мы индивидуально подберем оптимальное средство с необходимыми функциональными параметрами. Помощь специалиста защитит Вас от неоправданных расходов и технических несоответствий, позволит защитить оборудование, сократить простой и увеличить интервал между техобслуживанием и ремонтом.</p>
            </div>
        </div>
    </div>
</section>

<div id="headerwrap">
    <div class="container">
        <div class="row">
            <div class="jumbotron jumbotron-fluid  animated_1">
                <div class="container">
                    <div class="row">
                        <h1 class="display-3">ООО "МАСЛОСБЫТ" Курск</h1>
                <p class="lead text-center">Чтобы работа промышленного оборудования была стабильной и эффективной, стоит правильно подбирать смазки и своевременно производить их замену. Качественный материал обеспечивает комплексную защиту подвижных деталей, препятствует образованию отложений, нейтрализует окислительные процессы и увеличивает служебный ресурс механизмов.</p>
                <p class="lead text-center">Представляем Вашему вниманию специализированные смазочные материалы отечественных и зарубежных производителей. У нас Вы сможете купить масла различных категорий и различными партиями, заказать оперативную доставку и получить гарантию качества на все виды приобретенной продукции.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="features-icons text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                    <i class="icon-like m-auto text-primary"></i>
                    </div>
                    <h3>Высшее качество товара</h3>
                    <hr>
                    <p class="lead mb-0">Качество — одна из основополагающих характеристик товара, которая оказывает решающее влияние на покупательский спрос и его конкурентоспособность.</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                    <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Широкий ассортимент</h3>
                    <hr>
                    <p class="lead mb-0">Подберем для Вас необходимый продукт и предоставим достоверную информацию о разновидностях нашего товара</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                    <i class="icon-support m-auto text-primary"></i>
                    </div>
                    <h3>Профессиональная поддержка</h3>
                    <hr>
                    <p class="lead mb-0">Взаимоотношения ООО "МАСЛОСБЫТ" Курск с покупателями строятся по принципу прямых продаж, что позволяет контактировать непосредственно со своим персональным менеджером, способным выбрать из множества наименований необходимое именно Вам.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials text-center bg-light">
    <div class="container">
        <h2 class="mb-5">Наши партнеры:</h2>
            <div class="row">
                <div class="col-lg-4 tilt2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../../static/images/logo-bashneft.jpg" alt="">
                        <h5>ПАО АНК «Башнефть»</h5>
                        <hr>
                        <p class="font-weight-light mb-0">Высокотехнологичный нефтеперерабатывающий комплекс со средним показателем индекса Нельсона — 9.1 и глубиной переработки 85,8%.</p>
                    </div>
                </div>
                <div class="col-lg-4 tilt2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../../static/images/logo-gazprom-neft.png" alt="">
                        <h5>Газпром нефть</h5>
                        <hr>
                        <p class="font-weight-light mb-0">"Газпром нефть" занимает лидирующие позиции в России по темпам роста добычи углеводородного сырья и переработки нефтепродуктов. Причины активного роста — в истории каждого этапа развития компании.</p>
                    </div>
                </div>
                <div class="col-lg-4 tilt2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../../static/images/Mobil_logo-Color.png" alt="">
                        <h5>Mobil</h5>
                        <hr>
                        <p class="font-weight-light mb-0">Узнайте подробнее о том, почему так важно менять моторное масло регулярно и как использовать продукты Mobil™ для обеспечения эффективной работы двигателя.</p>
                    </div>
                </div>

                <div class="col-lg-4 tilt2">
                    <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                        <img class="img-fluid rounded-circle mb-3" src="../../static/images/shell-logo.jpg" alt="">
                        <h5>Shell</h5>
                        <hr>
                        <p class="font-weight-light mb-0">Наша цель – удовлетворение потребностей общества в энергоносителях с соблюдением принципов экономической, социальной и экологической ответственности – сегодня и в будущем. Узнайте больше о нашем бизнесе и его людях, а также о том, как наш концерн прошел путь от маленького магазинчика в Лондоне, основанного почти 200 лет назад, до одной из крупнейших энергетических компаний мира.</p>
                    </div>
                </div>
                    <div class="col-lg-4 tilt2">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="../../static/images/lukoil_logo.png" alt="">
                            <h5>Лукойл</h5>
                            <hr>
                            <p class="font-weight-light mb-0">Лидер российского рынка смазочных материалов. 100% дочерняя структура ПАО «ЛУКОЙЛ». Предприятие производит масла и смазки на 9 заводах в России и за рубежом и поставляет продукцию в свыше 100 стран.</p>
                        </div>
                    </div>
                    <div class="col-lg-4 tilt2">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="../../static/images/rosneft_logo.png" alt="">
                            <h5>Роснефть смазочные материалы</h5>
                            <hr>
                            <p class="font-weight-light mb-0">
                        ООО «РН-Смазочные материалы» специализируется на производстве, маркетинге и реализации смазочных материалов, специальных жидкостей, пластичных смазок, предназначенных для использования в легковом и коммерческом транспорте, а также для широкого спектра промышленного оборудования.</p>
                        </div>
                    </div>
        </div>
    </div>
</section>


<section id="contact" class="map">
    <div class="text-center"><h1>Наше месторасположение:</h1></div>
    <hr>
    <iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2472.3806474634625!2d36.16294931537235!3d51.70777820385392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f0369f6fe70a1%3A0xe8bb379255dde2d6!2z0YPQuy4g0K3QvdCz0LXQu9GM0YHQsCwgMTAzLCDQmtGD0YDRgdC6LCDQmtGD0YDRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1529345767307"></iframe>
    <br/>
    <small>
    <a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2472.3806474634625!2d36.16294931537235!3d51.70777820385392!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x412f0369f6fe70a1%3A0xe8bb379255dde2d6!2z0YPQuy4g0K3QvdCz0LXQu9GM0YHQsCwgMTAzLCDQmtGD0YDRgdC6LCDQmtGD0YDRgdC60LDRjyDQvtCx0Lsu!5e0!3m2!1sru!2sru!4v1529345767307"></a>
    </small>
    <hr>
</section>


{% endblock %}